@font-face {
    font-family: futuraPro;
    src: url(fonts/FuturaPRO-Medium.otf);
}

@font-face {
    font-family: proximaNovaBold;
    src: url(fonts/proximanovaBold.ttf);
}

html {
    background: url(gifs/akiraTwo.gif), url(gifs/narutoOne.gif) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; 
}

/* Styling Name Title */    
#title {
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 45px;
    font-style: normal;
    letter-spacing: .1em;
    text-transform: uppercase;
    line-height: 1.3em;
}

#navigation {
    font-family: proximaNovaBold, Futura, futuraPro, sans-serif;
    color: white;
    letter-spacing: .2em;
    font-size: 13px;
}

/* Styling the navigation list */
ul a {
    color: white;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    opacity: 0.6;
}

/* Positioning */
#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.7em;
}

#navigation {
    text-align: center;
    margin-right: 9px;
}

#navigation ul {
    display: inline-block;
    list-style: none;
}

#navigation li {
    display: inline;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center
}

li {
    display: inline;
    list-style: none; 
}

#navigation a {
    display:inline-block;
    margin-right: -3px;
    width: 100px;
    text-align: center;
    padding: 5px;
    text-decoration:none;
    text-transform:uppercase;
    margin-top: 25px;
}