@font-face {
    font-family: futuraPro;
    src: url(fonts/FuturaPRO-Medium.otf);
}

@font-face {
    font-family: proximaNovaBold;
    src: url(fonts/proximanovaBold.ttf);
}

/* Styling Name Title */    
#title {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    font-style: normal;
    letter-spacing: .1em;
    text-transform: uppercase;
    line-height: 1.3em;
}

#title a {
    text-decoration: none;
    color: black;
}

/* Styling the navigation list */
#navigation {
    font-family: proximaNovaBold, Futura, futuraPro, sans-serif;
    letter-spacing: .2em;
    font-size: 10px;
}

ul a {
    text-decoration: none;
    opacity: 1;
    color: black;
}

ul a:link {
    text-decoration: none;
}

ul a:visited {
    text-decoration: none;
    color: black;
}

ul a:hover {
    text-decoration: none;
    opacity: 0.8;
}
    
.link {
    opacity: 0.6;
}

/* Positioning the elements */
#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 63px;
    margin-right: 13.6px;
}

#navigation {
    text-align: center;
    margin-right: 20px;
}

#navigation ul {
    display: inline-block;
    list-style: none;
}

#navigation li {
    display: inline;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center
}

li {
    display: inline;
    list-style: none; 
}

#navigation a {
    display:inline-block;
    margin-right: -3px;
    width: 100px;
    text-align: center;
    padding: 5px;
    text-decoration:none;
    text-transform:uppercase;
    margin-top: 25px;
}

/* Styling the biography part */
#bio {
    margin-top: 3%;
}

.text {
    float: left;
    width: 50%;
    padding-left: 2%;
    font-family: futuraPro, Futura, proximaNovaBold, sans-serif;
    font-size: 14px;
    line-height: 2em;
    letter-spacing: 0.02em;
}

.me {
    float: right;
    width: 43%;
    margin: 1% 2% 2% 2%;
}

