@font-face {
    font-family: futuraPro;
    src: url(fonts/FuturaPRO-Medium.otf);
}

@font-face {
    font-family: proximaNovaBold;
    src: url(fonts/proximanovaBold.ttf);
}

html {
    background: url(gifs/gosOne.gif), url(gifs/narutoOne.gif) no-repeat center center fixed;
    background-size: cover;
}

/* Styling Name */    
#title {
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 45px;
    font-style: normal;
    letter-spacing: .1em;
    text-transform: uppercase;
    line-height: 1.3em;
}

#navigation {
    font-family: proximaNovaBold, Futura, futuraPro, sans-serif;
    color: white;
    letter-spacing: .2em;
    font-size: 13px;
}

/* Styling the unordered list */
ul {
    list-style-type: none;
    margin: none;
    padding: none;
}

ul li {
    display: inline;
    margin-left: 15.5px;
}

ul a {
    color: white;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
   text-decoration: none;
}

a:hover {
    text-decoration: none;
    opacity: 0.6;
}
    
/* Positioning */
#title, #navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
    bottom: 31.1%;
}

#navigation {
    right: 23.5%;
    top: 53%;
}
