/* =================== Overrides and Additions for index.html =================== */  
nav li a {color: #fff;}
nav li a:hover {color: #000;}

h2 {
	font-size: 4em;
	text-transform: lowercase;
	margin-bottom: 20px;
}
h3, h4 {
	color: #fff;
	font-weight: 400;
	font-size: 3.5em;
	letter-spacing: 0.04em;
	text-transform: lowercase;
	display: table;
	padding: 0 14px;
}

h4 {
    letter-spacing: 1.5em;
    margin-top: 260px;
    padding-left: 117px;
}


h3 {background-color: rgba(63,81,123, 0.9)}

.header-top nav li a {color: #fff;}

section:nth-of-type(1) {background: #e4f1ee url('../assets/top.jpg') no-repeat center / cover;}
/* section:nth-of-type(2) {background: #e4f1ee url('../img/smoke2.jpg') no-repeat center / cover;} */
section:nth-of-type(2) {background: #e4f1ee url('../assets/projects/bahnmi.jpg') no-repeat center / cover;}
section:nth-of-type(2) slide:nth-of-type(1) {background: #e4f1ee url('../assets/projects/bahnmi.jpg') no-repeat center / cover;}
section:nth-of-type(2) slide:nth-of-type(2) {background: #e4f1ee url('../assets/projects/idk.png') no-repeat center / cover;}
section:nth-of-type(2) slide:nth-of-type(3) {background: #e4f1ee url('../assets/projects/sashimi.png') no-repeat center / cover;}
/* section:nth-of-type(3) {background: #e4f1ee url('../photo/d_eyes.jpg') no-repeat center / cover;} */
section:nth-of-type(3) slide:nth-of-type(1) {background: #e4f1ee url('../assets/nihon.jpg') no-repeat center / cover;}
section:nth-of-type(3) slide:nth-of-type(2) {background: #e4f1ee url('../assets/arizona.jpg') no-repeat center / cover;}
section:nth-of-type(3) slide:nth-of-type(3) {background: #e4f1ee url('../assets/digital.jpg') no-repeat center / cover;}
section:nth-of-type(3) slide:nth-of-type(4) {background: #e4f1ee url('../assets/friends.jpg') no-repeat center / cover;}
section:nth-of-type(4) {background: #e4f1ee url('../assets/bottom.jpg') no-repeat center / cover;}

@media screen and (max-width: 767px) {
	h3 {font-size: 3em;}
}